# Dataset Preprocessing
## **Decode the dataset and create data for correlational analysis and regression models**

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
us_personal_a = pd.read_csv('us_personal_sample/psam_pusa_sample.csv')
us_personal_b = pd.read_csv('us_personal_sample/psam_pusb_sample.csv')
us_personal_c = pd.read_csv('us_personal_sample/psam_pusc_sample.csv')
us_personal_d = pd.read_csv('us_personal_sample/psam_pusd_sample.csv')
us_personal = pd.concat([us_personal_a, us_personal_b, us_personal_c, us_personal_b])
us_personal.drop(columns='Unnamed: 0', inplace=True)

In [3]:
# Define all decoding/recoding methods for the data

def DIVISION_decode(code):
    if code == 0: return 'Puerto Rico'
    elif code == 1: return 'New England'
    elif code == 2: return 'Middle Atlantic'
    elif code == 3: return 'East North Central'
    elif code == 4: return 'West North Central'
    elif code == 5: return 'South Atlantic'
    elif code == 6: return 'East South Central'
    elif code == 7: return 'West South Central'
    elif code == 8: return 'Mountain'
    elif code == 9: return 'Pacific'
    else: raise ValueError('invalid DIVISION code encountered')

def AGEP_recode_numerical(code):
    if code < 100: return code
    else: raise ValueError('invalid AGEP code encountered')

def AGEP_recode_categorical(code):
    if code < 18: return 'Under 18'
    elif code < 25: return '18 to 24'
    elif code < 35: return '25 to 34'
    elif code < 45: return '35 to 44'
    elif code < 55: return '45 to 54'
    elif code < 65: return '55 to 64'
    elif code < 75: return '65 to 74'
    elif code < 85: return '75 to 84'
    elif code < 100: return 'Over 84'
    else: raise ValueError('invalid AGEP code encountered')

def CIT_decode(code):
    if code == 1: return 'US Born'
    elif code == 2: return 'US Territory Born'
    elif code == 3: return 'US Parents Born Abroad'
    elif code == 4: return 'Naturalized Citizen'
    elif code == 5: return 'Not Citizen'
    else: raise ValueError('invalid CIT code encountered')

def COW_decode(code):
    if np.isnan(code): return 'N/A'
    elif code == 1: return 'Private For-Profit'
    elif code == 2: return 'Private Not-For-Profit'
    elif code == 3: return 'Local Government'
    elif code == 4: return 'State Government'
    elif code == 5: return 'Federal Government'
    elif code == 6: return 'Self-Employed'
    elif code == 7: return 'Self-Employed in own Inc'
    elif code == 8: return 'Unpaid Family Employee'
    elif code == 9: return 'Unemployed'
    else: raise ValueError('invalid COW code encountered')

def DEAR_decode(code):
    if code == 1: return 'Hearing Difficulty'
    elif code == 2: return 'No Hearing Difficulty'
    else: raise ValueError('invalid DEAR code encountered')

def DEYE_decode(code):
    if code == 1: return 'Vision Difficulty'
    elif code == 2: return 'No Vision Difficulty'
    else: raise ValueError('invalid DEYE code encountered')

def FER_decode(code):
    if np.isnan(code): return 'N/A'
    elif code == 1: return 'Gave Birth in Past 12 Months'
    elif code == 2: return 'No Birth in Past 12 Months'
    else: raise ValueError('invalid FER code encountered')

def JWMNP_recode_numerical(code):
    if np.isnan(code): return 0
    else: return code

def JWMNP_recode_categorical(code):
    if np.isnan(code): return 'N/A'
    elif code <= 30: return 'Up to 30 Minutes'
    elif code <= 60: return '31 to 60 Minutes'
    elif code <= 90: return '61 to 90 Minutes'
    elif code <= 120: return '91 to 120 Minutes'
    elif code <= 150: return '121 to 150 Minutes'
    elif code <= 180: return '151 to 180 Minutes'
    elif code <= 200: return 'Over 180 Minutes'
    else: raise ValueError('invalid JWMNP code encountered')

def MAR_decode(code):
    if code == 1: return 'Married'
    elif code == 2: return 'Widowed'
    elif code == 3: return 'Divorced'
    elif code == 4: return 'Separated'
    elif code == 5: return 'Never Married/Under 15'
    else: raise ValueError('invalid MAR code encountered')

def SCHL_recode(code):
    if np.isnan(code): return 'Under 3 Years'
    elif code < 15: return 'No HS Diploma'
    elif code < 18: return 'HS Diploma/Alternative'
    elif code < 20: return 'Some College'
    elif code == 20: return 'Associate\'s Degree'
    elif code == 21: return 'Bachelor\'s Degree'
    elif code == 22: return 'Master\'s Degree'
    elif code == 23: return 'Professional Degree'
    elif code == 24: return 'Doctorate Degree'
    else: raise ValueError('invalid SCHL code encountered')

def SEX_decode(code):
    if code == 1: return 'male'
    elif code == 2: return 'female'
    else: raise ValueError('invalid SEX code encountered')

def WAGP_recode_numerical(code):
    if np.isnan(code): return 0
    else: return code

def WKHP_recode_numerical(code):
    if np.isnan(code): return 0
    else: return code

def WKW_decode(code):
    if np.isnan(code): return 'No Work/Under 16 Years'
    elif code == 1: return '50 to 52 Weeks'
    elif code == 2: return '48 to 49 Weeks'
    elif code == 3: return '40 to 47 Weeks'
    elif code == 4: return '27 to 39 Weeks'
    elif code == 5: return '14 to 26 Weeks'
    elif code == 6: return 'Under 14 Weeks'
    else: raise ValueError('invalid WKW code encountered')

def DIS_decode(code):
    if code == 1: return 'Disability'
    elif code == 2: return 'No Disability'
    else: raise ValueError('invalid DIS code encountered')

def INDP_recode(code):
    if np.isnan(code): return 'N/A'
    elif code <= 290: return 'AGR'
    elif code <= 490: return 'EXT'
    elif code <= 690: return 'UTL'
    elif code <= 770: return 'CON'
    elif code <= 3990: return 'MFG'
    elif code <= 4590: return 'WHL'
    elif code <= 5790: return 'RET'
    elif code <= 6390: return 'TRN'
    elif code <= 6780: return 'INF'
    elif code <= 7190: return 'FIN'
    elif code <= 7790: return 'PRF'
    elif code <= 7890: return 'EDU'
    elif code <= 8290: return 'MED'
    elif code <= 8470: return 'SCA'
    elif code <= 8690: return 'ENT'
    elif code <= 9290: return 'SRV'
    elif code <= 9590: return 'ADM'
    elif code <= 9870: return 'MIL'
    elif code <= 9920: return 'Unemployed'
    else: raise ValueError('invalid INDP code encountered')

def OC_decode(code):
    if np.isnan(code): return 'N/A'
    elif code == 0: return 'No Children'
    elif code == 1: return 'Has Children'
    else: raise ValueError('invalid OC code encountered')

def PINCP_recode_numerical(code):
    if np.isnan(code): return 0
    else: return code

def RAC1P_decode(code):
    if code == 1: return 'WHT'
    elif code == 2: return 'BLK'
    elif code == 3: return 'AI'
    elif code == 4: return 'AN'
    elif code == 5: return 'AIAN'
    elif code == 6: return 'ASN'
    elif code == 7: return 'NHPI'
    elif code == 8: return 'Other'
    elif code == 9: return 'MULT'
    else: raise ValueError('invalid RAC1P code encountered')

def WAOB_decode(code):
    if code == 1: return 'US State'
    elif code == 2: return 'PR and US Island'
    elif code == 3: return 'Latin America'
    elif code == 4: return 'Asia'
    elif code == 5: return 'Europe'
    elif code == 6: return 'Africa'
    elif code == 7: return 'Northern America'
    elif code == 8: return 'Oceania and at Sea'
    else: raise ValueError('invalid WAOB code encountered')

In [4]:
correlational_preprocessing = {
    'DIVISION':DIVISION_decode,
    'AGEP':AGEP_recode_categorical,
    'CIT':CIT_decode,
    'COW':COW_decode,
    'DEAR':DEAR_decode,
    'DEYE':DEYE_decode,
    'FER':FER_decode,
    'JWMNP':JWMNP_recode_categorical,
    'MAR':MAR_decode,
    'SCHL':SCHL_recode,
    'SEX':SEX_decode,
    'WAGP':WAGP_recode_numerical,
    'WKHP':WKHP_recode_numerical,
    'WKW':WKW_decode,
    'DIS':DIS_decode,
    'INDP':INDP_recode,
    'OC':OC_decode,
    'PINCP':PINCP_recode_numerical,
    'RAC1P':RAC1P_decode,
    'WAOB':WAOB_decode
}

regression_preprocessing = {
    'DIVISION':DIVISION_decode,
    'AGEP':AGEP_recode_numerical,
    'CIT':CIT_decode,
    'COW':COW_decode,
    'DEAR':DEAR_decode,
    'DEYE':DEYE_decode,
    'FER':FER_decode,
    'JWMNP':JWMNP_recode_numerical,
    'MAR':MAR_decode,
    'SCHL':SCHL_recode,
    'SEX':SEX_decode,
    'WAGP':WAGP_recode_numerical,
    'WKHP':WKHP_recode_numerical,
    'WKW':WKW_decode,
    'DIS':DIS_decode,
    'INDP':INDP_recode,
    'OC':OC_decode,
    'PINCP':PINCP_recode_numerical,
    'RAC1P':RAC1P_decode,
    'WAOB':WAOB_decode
}

def binarize_categorical_columns(source_df, columns):
    print('Binarizing the following columns:')
    print(columns)
    output_df = pd.DataFrame(source_df)
    for column in columns:
        print('Binarizing column:', column)
        values = sorted(output_df[column].unique())
        for value in values:
            # output_df[column+':'+value] = 1 if output_df[column] == value else 0
            set_binary_value = lambda row: 1 if row[column] == value else 0
            binary_column = output_df.apply(set_binary_value, axis=1)
            column_name = str(column+'['+value+']')
            output_df[column_name] = binary_column.values
            # print(output_df[column_name])
    output_df.drop(columns=columns, inplace=True)
    return output_df

def df_from_funcs(source_df, functions):
    output_df = pd.DataFrame()
    for column,function in functions.items():
        output_df[column] = source_df[column].map(function)
    return output_df

In [5]:
correlational_df = df_from_funcs(us_personal, correlational_preprocessing)
regression_df = df_from_funcs(us_personal, regression_preprocessing)
regression_df = binarize_categorical_columns(regression_df, [
    'DIVISION','CIT','COW','DEAR','DEYE','FER','MAR','SCHL','SEX','WKW','DIS','INDP','OC','RAC1P','WAOB'])

Binarizing the following columns:
['DIVISION', 'CIT', 'COW', 'DEAR', 'DEYE', 'FER', 'MAR', 'SCHL', 'SEX', 'WKW', 'DIS', 'INDP', 'OC', 'RAC1P', 'WAOB']
Binarizing column: DIVISION
Binarizing column: CIT
Binarizing column: COW
Binarizing column: DEAR
Binarizing column: DEYE
Binarizing column: FER
Binarizing column: MAR
Binarizing column: SCHL
Binarizing column: SEX
Binarizing column: WKW
Binarizing column: DIS
Binarizing column: INDP
Binarizing column: OC
Binarizing column: RAC1P
Binarizing column: WAOB

In [6]:
correlational_df

,DIVISION,AGEP,CIT,COW,DEAR,DEYE,FER,JWMNP,MAR,SCHL,SEX,WAGP,WKHP,WKW,DIS,INDP,OC,PINCP,RAC1P,WAOB
0,Pacific,45 to 54,US Born,Private Not-For-Profit,No Hearing Difficulty,No Vision Difficulty,N/A,31 to 60 Minutes,Divorced,No HS Diploma,female,30000.0,40.0,14 to 26 Weeks,No Disability,FIN,No Children,30000.0,WHT,US State
1,Mountain,45 to 54,US Born,Private Not-For-Profit,No Hearing Difficulty,No Vision Difficulty,No Birth in Past 12 Months,Up to 30 Minutes,Never Married/Under 15,Bachelor's Degree,female,109000.0,35.0,50 to 52 Weeks,Disability,SRV,No Children,109000.0,WHT,US State
2,Pacific,55 to 64,US Born,Private For-Profit,No Hearing Difficulty,No Vision Difficulty,N/A,Up to 30 Minutes,Married,HS Diploma/Alternative,male,50000.0,40.0,50 to 52 Weeks,No Disability,MFG,No Children,50000.0,WHT,US State
3,Pacific,35 to 44,Not Citizen,N/A,No Hearing Difficulty,No Vision Difficulty,No Birth in Past 12 Months,N/A,Married,No HS Diploma,female,0.0,0.0,No Work/Under 16 Years,No Disability,N/A,No Children,0.0,WHT,Latin America
4,Mountain,45 to 54,US Born,Local Government,No Hearing Difficulty,No Vision Difficulty,N/A,Up to 30 Minutes,Married,No HS Diploma,male,36100.0,40.0,50 to 52 Weeks,No Disability,ENT,No Children,36100.0,WHT,US State
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68342,East North Central,18 to 24,US Born,N/A,No Hearing Difficulty,No Vision Difficulty,N/A,N/A,Never Married/Under 15,Some College,male,0.0,0.0,No Work/Under 16 Years,No Disability,N/A,N/A,0.0,ASN,US State
68343,West North Central,Over 84,US Born,N/A,No Hearing Difficulty,No Vision Difficulty,N/A,N/A,Widowed,HS Diploma/Alternative,female,0.0,0.0,No Work/Under 16 Years,Disability,N/A,No Children,14000.0,WHT,US State
68344,South Atlantic,55 to 64,US Born,Private Not-For-Profit,No Hearing Difficulty,No Vision Difficulty,N/A,31 to 60 Minutes,Married,Master's Degree,female,100000.0,40.0,50 to 52 Weeks,No Disability,SRV,No Children,100000.0,BLK,US State
68345,West South Central,25 to 34,US Born,Private For-Profit,No Hearing Difficulty,No Vision Difficulty,N/A,Up to 30 Minutes,Never Married/Under 15,HS Diploma/Alternative,male,13700.0,40.0,50 to 52 Weeks,No Disability,SRV,No Children,13700.0,WHT,US State
68346,East South Central,65 to 74,US Born,N/A,No Hearing Difficulty,No Vision Difficulty,N/A,N/A,Divorced,Associate's Degree,female,0.0,0.0,No Work/Under 16 Years,Disability,N/A,No Children,10800.0,WHT,US State

In [7]:
regression_df

,AGEP,JWMNP,WAGP,WKHP,PINCP,DIVISION[East North Central],DIVISION[East South Central],DIVISION[Middle Atlantic],DIVISION[Mountain],DIVISION[New England],...,RAC1P[Other],RAC1P[WHT],WAOB[Africa],WAOB[Asia],WAOB[Europe],WAOB[Latin America],WAOB[Northern America],WAOB[Oceania and at Sea],WAOB[PR and US Island],WAOB[US State]
0,52,50.0,30000.0,40.0,30000.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,49,20.0,109000.0,35.0,109000.0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
2,60,15.0,50000.0,40.0,50000.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,37,0.0,0.0,0.0,0.0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
4,54,15.0,36100.0,40.0,36100.0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68342,19,0.0,0.0,0.0,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
68343,89,0.0,0.0,0.0,14000.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
68344,58,60.0,100000.0,40.0,100000.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
68345,26,7.0,13700.0,40.0,13700.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
68346,68,0.0,0.0,0.0,10800.0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [8]:
correlational_df.to_csv('preprocessed_data/correlational_analysis_data.csv')
regression_df.to_csv('preprocessed_data/regression_data.csv')